
<div>

  <h3> Edit View </h3>

  <p> Theme name </p>
  <p> <%= @theme.theme_name %> </p>


  <div class="col-md-12">

    <div class="row">
      <div class="col-md-5">
        <%= image_tag @theme.media_image.url(:medium) %>
      </div>

    <div class="col-md-3">

      <%= form_for(@theme) do |f| %>
        <%= f.label :video_id %>
        <%= f.text_field :video_id, class: "form-control" %>

        <%= f.label :media_name, "Movie - Series - Game" %>
        <%= f.text_field :media_name, class: "form-control" %>

        <%= f.label "Category" %>
        <%= f.collection_select( :category_id, Category.all, :id, :name, {}, { :class => "form-control" } ) %>

        <%= f.label :theme_name, "Theme name" %>
        <%= f.text_field :theme_name, class: "form-control" %>

        <%= f.label :theme_interpret, "Theme interpret" %>
        <%= f.text_field :theme_interpret, class: "form-control" %>

        <%= f.label :start_seconds %>
        <%= f.text_field :start_seconds ,class: "form-control" %>

        <%= f.label :end_seconds %>
        <%= f.text_field :end_seconds ,class: "form-control" %>

        <%= f.file_field :media_image, class: "" %>

        <%= f.label :disabled %>
        <%= f.check_box :disabled, class: "checkbox" %>

        <%= f.submit "Save Changes" , class: "btn btn-primary" %>
      <% end %>

    </div>

  </div>
  </div>
</div>

</div>
