<div class="jumbotron landing-page">

  <div class="row">
    <div class="col-md-6 col-md-offset-3 center-text welcome">
      <h2>Test</h2>

      <% if(flash[:error]) %>
        <div class="alert alert-danger"><%= flash[:error] %></div>
      <% end %>

      <p>Choose your nickname</p>
      <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <% if current_user.nil? %>
            <%= form_for(@user) do |f| %>
              <%= f.text_field :nick, class: 'form-control' %>
              <%= f.submit "Start", class: "btn btn-primary home-btn" %>
            <% end %>
          <% else %>
            <%= form_for(current_user, :html => { :method => :put }) do |f| %>
              <%= f.text_field :nick, class: 'form-control', :value => "" %>
              <%= f.submit "Change", class: "btn btn-primary home-btn", data: { confirm: "Your current nickname is #{current_user.nick}, are you sure you want to change it?" } %>
            <% end %>

          <% end %>
        </div>
      </div>

    </div>
  </div>
</div>
