
<% content_for :room do %>

<div id="room-wrapper" class="container-fluid">

  <%= render 'layouts/header' %>


  <div class="room-container row">

    <div id="chat-wrapper" >
      <%= render 'shared/chat' %>
    </div>



    <%= render 'shared/game_wrapper' %>

  </div>

  <%= render 'layouts/footer' %>
  </div>


  <%= debug(params) if Rails.env.development? %>

<% end %>

